<div *ngIf="olympics?.length; else loadingOrError">
  <div class="title">Medals per Country</div>
  <div class="wrapper">
    <div class="item">Number of JOs<p>{{ getNbrJos()}}</p></div>
    <div class="item">Number of countries<p>{{ olympics.length }}</p></div>
    <ngx-charts-pie-chart
      [results]="single"
      [gradient]="gradient"
      [legend]="showLegend"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      [legendPosition]="legendPosition"
      [tooltipText]="toolTipFormat"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
</div>

<ng-template #loadingOrError>
  <div *ngIf="!(loaderService.isLoading$ | async)">Erreur lors du chargement des données</div>
</ng-template>

<app-loader *ngIf="loaderService.isLoading$ | async"></app-loader>




