<h2>Olympic games app</h2>

<div class="title">Medals per Country</div>
<div class="wrapper">
  <div class="item">Number of JOs<p>10</p></div>
  <div class="item">Number of countries<p>10</p></div>
</div>

<hr />
<!--<p>{{ (olympics$ | async)?.length }} data loaded</p>-->
<ngx-charts-pie-chart
  [results]="single"
  [gradient]="gradient"
  [legend]="showLegend"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  [legendPosition]="legendPosition"
  (select)="onSelect($event)"
>
</ngx-charts-pie-chart>
<!--[view]="view"-->
<!--(activate)="onActivate($event)"-->
<!--(deactivate)="onDeactivate($event)"-->

