<div class="title">Medals per Country</div>
<div class="wrapper">
  <div class="item">Number of JOs<p>{{ getNbrJos()}}</p></div>
  <div class="item">Number of countries<p>{{ (olympics$ | async)?.length }}</p></div>
</div>
<ngx-charts-pie-chart
  [results]="single"
  [gradient]="gradient"
  [legend]="showLegend"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  [legendPosition]="legendPosition"
  [tooltipText]="toolTipFormat"
  (select)="onSelect($event)"
>
</ngx-charts-pie-chart>
<!--[view]="view"-->
<!--(activate)="onActivate($event)"-->
<!--(deactivate)="onDeactivate($event)"-->

